@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@402&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,600&display=swap');

*{
    margin: 0px 0px;
}

body{
    background-color: rgba(219, 213, 213, 0.637);
}

.header{
    height: fit-content;
    width: 100vw;
}

.title{
    padding-right: 5vw;
    padding-left: 5vw;
    width: fit-content;
    background-color: ghostwhite;
    margin: auto auto;
}

.photo{
    width: fit-content;
    margin: auto auto;
}

#photo{
    height: 30vw;
    padding: 1vh 0vw;
    border-radius: 10%;
}

#title{
    padding: 3vh 0vw;
    color: rgb(43, 41, 41);
    font-family: 'Roboto Condensed', sans-serif;
}